<div class="invoice">
  <div class="logo">
    <a href="{{SiteUrl}}">
      <img src="{{SiteUrl}}/theme/branding/logo" class="mr-2 mb-1 img-fluid" style="max-width: 300px;max-height: 200px;" />
    </a>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="invoice-wrapper">
          <div class="intro">
            Hi <strong>{{FirstName}}</strong>,
            <br />
            {{Message}}
          </div>
        </div>

        <div class="invoice-footer">
          Copyright © {{Year}} {{SiteTitle}}
        </div>
      </div>
    </div>
  </div>
</div>
