<div class="row pt-5">
  <div class="col-lg-6">
    <h2>Investment Criteria</h2>
    <div class="pt-1">
      <h3>
        <i class="fa-duotone fa-check-square"></i>
        Transaction Size
      </h3>
      <ul>
        <li>$2 million to $50 million</li>
      </ul>
    </div>

    <div class="h-divider"></div>

    <div class="pt-1">
      <h3>
        <i class="fa-duotone fa-check-square"></i>
        Asset Type
      </h3>
      <ul>
        <li>B - C Multi-Family Properties</li>
        <li>90+% Occupied assets capable of obtaining long-term debt</li>
      </ul>
    </div>

    <div class="h-divider"></div>

    <div class="pt-1">
      <h3>
        <i class="fa-duotone fa-check-square"></i>
        Ratios and Exit
      </h3>
      <ul>
        <li>Capable of achieving 7-8% cash on cash return at takeover in primary markets, or 8-10% in secondary or emerging markets</li>
        <li>A debt coverage ratio of 1.5</li>
        <li>3 - 7 year holds</li>
      </ul>
    </div>

    <div class="h-divider"></div>

    <div class="pt-1">
      <h3>
        <i class="fa-duotone fa-check-square"></i>
        Target Markets
      </h3>
      <ul>
        <li>Primary and emerging markets nationwide</li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6">
    <img src="/_content/MultiFamilyPortal.QuarterRealEstateTheme/img/garden-3.jpg" class="img img-fluid mt-5" />
  </div>
</div>
