<div class="invoice">
  <div class="logo">
    <a href="{{SiteUrl}}">
      <img src="{{SiteUrl}}/theme/branding/logo" class="mr-2 mb-1 img-fluid" style="max-width: 300px;max-height: 200px;" />
    </a>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="invoice-wrapper">
          <div class="intro">
            Hi <strong>{{Email}}</strong>,
            <br />
            Check out our latest post: <a href="{{Url}}" target="_blank">{{Title}}</a>
          </div>

          <div class="payment-details">
            <div class="row">
              <div class="col-md-8">
                <img src="{{SocialImage}}" onerror="this.src='https://cdn.avantipoint.com/images/default-social.png'" class="img-fluid text-center" style="max-height: 300px;margin-bottom:20px" />
                {{Summary}}
                <p>
                  <a href="{{Url}}" class="continue-reading" target="_blank">Continue reading this post</a>
                </p>
              </div>
              <div class="col-md-4">
                <div class="text-center">
                  <img src="{{AuthorProfilePic}}" class="avatar" />
                  <br />
                  <strong>{{AuthorName}}</strong>
                </div>
                <ul style="list-style: none;padding-left: 0;font-size: smaller;margin-top: 20px;">
                  <li style="display:inline-block"><strong>Categories:</strong></li>
                  {{#Categories}}
                    {{> category}}
                  {{/Categories}}
                </ul>
                <ul style="list-style: none;padding-left: 0;font-size: smaller;margin-top: 20px;">
                  <li style="display:inline-block"><strong>Tags:</strong></li>
                  {{#Tags}}
                    {{> tag}}
                  {{/Tags}}
                </ul>
              </div>
            </div>
          </div>

        </div>

        <div class="invoice-footer">
          Copyright © {{Year}} {{SiteTitle}}
          <p style="margin-top:20px">
            <small>You subscribed on: {{SubscribedDate}}. <a href="{{UnsubscribeLink}}" target="_blank">Unsubscribe</a></small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
