/*======================================
	Theme Default
========================================*/
*,
*::after *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.p-relative {
  position: relative;
}
.container {
  max-width: 1194px;
}
.container-fluid {
  padding: 0;
}
#offcanvas-modal {
  z-index: 100000;
}
@media only screen and (min-width: 0px) and (max-width: 991px) {
  .container {
    padding: 0px 20px;
  }
  .column-order-last {
    order: 1 !important;
  }
}

html {
  font-family: "Poppins", sans-serif;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
html,
body {
  height: 100%;
  margin: 0;
}
img {
  max-width: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}
.animated:focus-visible {
  outline: none;
}
.table {
  display: table;
  width: 100%;
  height: 100%;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button:focus-visible {
  outline: none;
}
input:focus-visible {
  outline: none;
}
textarea:focus-visible {
  outline: none;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="Default"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.btn-close:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
body,
button,
input,
select,
optgroup,
textarea {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #111111;
}

div,
span,
a,
button,
table,
tr,
th,
td,
header,
footer,
ul,
ol,
li {
  position: relative;
  transition: all 0.3s ease;
}
.select2-container--default .select2-selection--single,
.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-dropdown {
  border: 1px solid #eceaff !important;
}

.nice-select .list {
  width: 100%;
}
.nice-select .option.selected {
  font-weight: 500;
}
.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  min-height: 52px;
  -webkit-user-select: none;
  justify-content: start;
  display: flex;
  align-items: center;
  padding: 0 12px;
  justify-content: space-between;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: initial;
  top: initial;
  right: initial;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-bottom-color: currentcolor;
  border-right: 2px solid;
  border-right-color: currentcolor;
  border-color: #111111;
  display: block;
  pointer-events: none;
  transform: rotate(45deg);
  transform-origin: 66% 66%;
  transition: all 0.15s ease-in-out;
  border-top: transparent;
  border-left: transparent;
  position: relative;
  margin: 0;
  left: initial;
  top: initial;
}
.select2-container--default.select2-container--open
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-bottom: 2px solid;
  border-bottom-color: currentcolor;
  border-right: 2px solid;
  border-right-color: currentcolor;
  border-color: #111111;
  display: block;
  transform: rotate(-136deg);
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.select2-selection__rendered {
  color: #7e8ba0 !important;
  font-size: 14px !important;
}
.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable,
.select2-results__option.select2-results__option--selectable.select2-results__option--selected {
  background-color: #7166f0;
  color: #fff !important;
}
.select2-results__option {
  color: #7e8ba0;
  font-size: 14px;
}
.homec-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    94.63deg,
    rgba(20, 34, 66, 0.96) 3.82%,
    rgba(0, 0, 0, 0.2592) 162.33%
  );
  transition: all 0.3s ease;
}
.homec-bg-primary-color {
  background-color: #7166f0;
}
.homec-bg-second-color {
  background-color: #111111;
}
.homec-bg-third-color {
  background-color: #f7f7fd;
}
.homec-default-color {
  color: #111111;
}
.homec-primary-color {
  color: #7166f0 !important;
}
.homec-second-color {
  color: #f2c94c;
}
.homec-check-color {
  color: #47ce85;
}
.homec-remove-color {
  color: #e31521;
}
.homec-border {
  border: 1px solid #eceaff;
}
.homec-border-top {
  border-top: 1px solid #eceaff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
}
h1,
h1 a,
h2,
h2 a,
h3,
h3 a,
h4,
h4 a,
h5,
h5 a,
h6,
h6 a {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 140%;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 45px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 25px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
p {
  color: #7e8ba0;
  margin: 0;
  line-height: 26px;
  font-weight: 400;
  font-size: 16px;
}
a,
button,
input,
textarea {
  font-weight: 400;
}
img,
a,
input,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
dfn,
cite,
em,
i {
  font-style: italic;
}

section {
  position: relative;
}
address {
  margin: 0 0 1.5em;
}
pre {
  background: #eee;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}
code,
kbd,
tt,
var {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-size: 0.9375rem;
}
abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}
mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}
big {
  font-size: 125%;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: auto !important;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  background: #fff;
}
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

.list-none,
.list-none li {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: disc;
}

a {
  display: inline-block;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 1.5em 1.5em;
}
img {
  height: auto;
  max-width: 100%;
}
figure {
  margin: 1em 0;
}
table {
  margin: 0 0 1.5em;
  width: 100%;
}
button,
input[type="button"],
input[type="Default"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
  width: 100%;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #818790;
}
select {
  border: 1px solid #ccc;
}
textarea {
  width: 100%;
}
a {
  color: inherit;
}
a:hover,
a:focus,
a:active {
  color: inherit;
}
a:hover,
a:active {
  outline: 0;
}
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}
#content[tabindex="-1"]:focus {
  outline: 0;
}
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}
.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}
.widget {
  margin: 0 0 1.5em;
}
.widget select {
  max-width: 100%;
}
.sticky {
  display: block;
}
.hentry {
  margin: 0 0 1.5em;
}
.updated:not(.published) {
  display: none;
}
.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}
.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  display: none;
}
.infinity-end.neverending .site-footer {
  display: block;
}
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
embed,
iframe,
object {
  max-width: 100%;
}
.custom-logo-link {
  display: inline-block;
}

/* video popup waves */
@-webkit-keyframes waves {
  0% {
    -webkit-transform: scale(0.2, 0.2);
    transform: scale(0.2, 0.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  50% {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}
@keyframes waves {
  0% {
    -webkit-transform: scale(0.2, 0.2);
    transform: scale(0.2, 0.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  50% {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}

.swiper-container {
  width: 100%;
  height: 18vw;
  transition: opacity 0.6s ease;
  &.swiper-container-coverflow {
    padding: 1% 0;
  }
  &.loading {
    opacity: 0;
    visibility: hidden;
  }
  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
  }
}
.swiper-wrapper {
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  .slide-inner {
  }
  .entity-img {
    display: none;
  }
  .content {
    position: absolute;
    top: 40%;
    left: 0;
    width: 66%;
    padding-left: 5%;
    color: #fff;
    .title {
      font-size: 1.7em;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .caption {
      display: block;
      font-size: 12px;
      line-height: 1.4;
    }
  }
}
[class^="swiper-button-"] {
  width: 44px;
  opacity: 0;
  visibility: hidden;
  @extend %transition_all_03s;
}
.swiper-button-prev {
  transform: translateX(50px);
}
.swiper-button-next {
  transform: translateX(-50px);
}
.swiper-container-horizontal {
  > .swiper-pagination-bullets {
    .swiper-pagination-bullet {
      margin: 0 9px;
      position: relative;
      width: 12px;
      height: 12px;
      background-color: #fff;
      opacity: 0.4;
      @extend %transition_all_03s;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 18px;
        height: 18px;
        transform: translate(-50%, -50%);
        border: 0px solid #fff;
        border-radius: 50%;
        @extend %transition_all_03s;
      }
      &:hover,
      &.swiper-pagination-bullet-active {
        opacity: 1;
      }
      &.swiper-pagination-bullet-active {
        &::before {
          border-width: 1px;
        }
      }
    }
  }
}
@media (max-width: 1180px) {
  .swiper-container {
    height: 28vw;
  }
  .swiper-slide {
    .content {
      .title {
        font-size: 25px;
      }
      .caption {
        font-size: 12px;
      }
    }
  }
}
@media (max-width: 1023px) {
  .swiper-container {
    height: 40vw;
    &.swiper-container-coverflow {
      padding-top: 0;
    }
  }
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%7E8BA0'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
/*======================================
    Padding Margin
========================================*/
.pd-btm-0 {
  padding-bottom: 0px !important;
}
.pd-top-10 {
  padding-top: 10px;
}
.pd-top-15 {
  padding-top: 15px;
}
.pd-top-20 {
  padding-top: 20px;
}
.pd-top-30 {
  padding-top: 30px;
}
.pd-top-40 {
  padding-top: 40px;
}
.pd-top-50 {
  padding-top: 50px;
}
.pd-top-60 {
  padding-top: 60px;
}
.pd-top-70 {
  padding-top: 70px;
}
.pd-top-80 {
  padding-top: 80px;
}
.pd-top-90 {
  padding-top: 90px;
}
.pd-top-100 {
  padding-top: 100px;
}
.pd-top-110 {
  padding-top: 110px;
}
.pd-top-120 {
  padding-top: 120px;
}
.pd-top-130 {
  padding-top: 130px;
}
.pd-btm-10 {
  padding-bottom: 10px;
}
.pd-btm-15 {
  padding-bottom: 15px;
}
.pd-btm-20 {
  padding-bottom: 20px;
}
.pd-btm-30 {
  padding-bottom: 30px;
}
.pd-btm-40 {
  padding-bottom: 40px;
}
.pd-btm-50 {
  padding-bottom: 50px;
}
.pd-btm-60 {
  padding-bottom: 60px;
}
.pd-btm-70 {
  padding-bottom: 70px;
}
.pd-btm-80 {
  padding-bottom: 80px;
}
.pd-btm-90 {
  padding-bottom: 90px;
}
.pd-btm-100 {
  padding-bottom: 100px;
}
.pd-btm-110 {
  padding-bottom: 110px;
}
.pd-btm-120 {
  padding-bottom: 120px;
}
.pd-btm-130 {
  padding-bottom: 130px;
}

.mg-top-10 {
  margin-top: 10px !important;
}
.mg-top-15 {
  margin-top: 15px !important;
}
.mg-top-20 {
  margin-top: 20px !important;
}
.mg-top-30 {
  margin-top: 30px !important;
}
.mg-top-40 {
  margin-top: 40px !important;
}
.mg-top-50 {
  margin-top: 50px !important;
}
.mg-top-60 {
  margin-top: 60px !important;
}
.mg-top-70 {
  margin-top: 70px !important;
}
.mg-top-80 {
  margin-top: 80px !important;
}
.mg-top-90 {
  margin-top: 90px !important;
}
.mg-top-100 {
  margin-top: 100px !important;
}
.mg-top-110 {
  margin-top: 110px !important;
}
.mg-top-120 {
  margin-top: 120px !important;
}
.mg-btm-10 {
  margin-bottom: 10px !important;
}
.mg-btm-15 {
  margin-bottom: 15px !important;
}
.mg-btm-20 {
  margin-bottom: 20px !important;
}
.mg-btm-30 {
  margin-bottom: 30px !important;
}
.mg-btm-35 {
  margin-bottom: 35px !important;
}
.mg-btm-40 {
  margin-bottom: 40px !important;
}
.mg-btm-50 {
  margin-bottom: 50px !important;
}
.mg-btm-60 {
  margin-bottom: 60px !important;
}
.mg-btm-70 {
  margin-bottom: 70px !important;
}
.mg-btm-80 {
  margin-bottom: 80px !important;
}
.mg-btm-90 {
  margin-bottom: 90px !important;
}
.mg-btm-100 {
  margin-bottom: 100px !important;
}
.mg-btm-110 {
  margin-bottom: 110px !important;
}
.mg-btm-120 {
  margin-bottom: 120px !important;
}
.slick-dots {
  margin: 0;
  padding: 0;
}
.homec-boxed-space {
  padding: 120px 0px;
  border-radius: 10px;
  margin-left: 100px;
  margin-right: 100px;
}
.homec-sec-bg {
  background: #f6f8ff;
}
.section-padding {
  padding: 120px 0px;
}
.section-padding-two {
  padding: 90px 0px 120px;
}
.homec-dflex-space {
  display: flex;
  justify-content: space-between;
}
.homec-medium-title {
  font-size: 16px;
  font-weight: 600;
  color: #3f3f40;
  opacity: 0.8;
}
.homec-btn {
  background: #7166f0;
  color: #fff;
  font-weight: 500;
  padding: 0 30px;
  line-height: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  display: flex;
  gap: 10px;
  transition: all 0.5s ease;
  max-width: fit-content;
  cursor: pointer;
  height: 60px;
  font-size: 18px;
  z-index: 2;
  overflow: hidden;
  text-align: center;
  line-height: 60px;
}
.homec-btn:hover {
  transition: all 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.homec-btn span,
.homec-btn svg,
.homec-btn i,
.homec-btn p,
.homec-btn span {
  z-index: 111;
  position: relative;
  transition: all 0.5s ease;
}
.homec-btn svg {
  fill: currentColor;
}

.homec-btn:before {
  position: absolute;
  width: 0px;
  height: 0px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 1;
  content: "";
}

.homec-btn:hover:before {
  width: 800px;
  height: 800px;
  display: inline-block;
}
.homec-btn span {
  transition: all 0.5s ease;
}
.homec-btn:hover {
  color: #7166f0;
}

.homec-btn.homec-btn__second {
  background: #f2c94c;
  color: #111111;
}
.homec-btn__inside {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  justify-content: center;
  height: inherit;
}

.homec-btn__inside img {
  z-index: 111;
  position: relative;
}

.homec-btn.homec-btn__thrid {
  background-color: #111111;
}
/* .homec-btn.homec-btn__thrid:hover{
    background-color: #7166F0;
}*/
.homec-bg-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Theme ScrollUp */
.scrollToTop {
  right: -10px;
  border: none;
  outline: none;
  z-index: 33;
  bottom: 50px;
  position: fixed;
  text-align: center;
  opacity: 0;
  transform: translateX(50px);
  visibility: hidden;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  transform: rotate(-90deg) !important;
  font-size: 14px;
  font-weight: 600;
  background: #fff;
  transition: all 0.4s ease;
  padding: 4px 15px;
  color: #7166f0 !important;
  border-radius: 30px;
  display: flex;
  align-items: center;
  box-shadow: 0px 9px 126px rgba(20, 0, 255, 0.06);
}
.scrollToTop:hover {
  opacity: 0.8;
  background-color: #7166f0 !important;
  color: #fff !important;
}
.scrollToTop:hover i {
  color: #fff !important;
}
.scrollToTop.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(0px);
}
.scrollToTop i {
  font-size: 22px;
  display: inline-block;
  color: #7166f0 !important;
  position: relative;
  top: 2px;
  left: 4px;
  transition: all 0.4s ease;
  padding-left: 3px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .scrollToTop {
    right: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .scrollToTop {
    right: 0;
  }
}

/* Animation Keyframes */
@-webkit-keyframes glide {
  from {
    left: 0px;
    top: 0px;
  }

  to {
    left: 0px;
    top: 20px;
  }
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }
}

@-webkit-keyframes MoveUpDown {
  from {
    bottom: 63px;
  }
  to {
    bottom: 400px;
  }
}
@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes animatemove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.offcanvas-form {
  max-width: 970px;
  margin: 0 auto;
}
.offcanvas-form .form-control {
  height: 55px;
  border: 1px solid #7166f0;
  padding-left: 15px;
  padding-right: 105px;
  border-radius: 4px;
  font-size: 14px;
  color: #393e46;
  width: 100%;
  text-transform: capitalize;
}
.offcanvas-form .form-control:focus {
  box-shadow: none;
}
.offcanvas-form .homec-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  padding: 20px 27px;
  font-size: 15px;
  border-radius: 4px;
  height: auto;
}
.offcanvas-form .homec-btn:hover {
  background: #0c4271;
  color: #fff;
}
.offcanvas-form .btn.btn-warning {
  padding: 15px 20px;
  font-size: 15px;
}
.offcanvas-logo {
  width: 175px;
  position: relative;
  top: -47px;
}
.offcanvas-form .btn {
  position: absolute;
  top: 5px;
  right: 5px;
}
.offcanvas-toggler {
  text-align: center;
  display: inline-block;
  padding: 0px !important;
  width: 40px;
  height: 40px;
  z-index: 3;
  border-radius: 50%;
  border: none;
  position: absolute;
  right: 0;
  background: #fff !important;
  align-items: center;
  box-shadow: 0px 0px 15px #00000014;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}
.offcanvas-toggler:hover {
  background: transparent;
}
.offcanvas-toggler__white {
  background-color: #fff;
}
.offcanvas-toggler:hover .line:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}
.offcanvas-toggler:hover .line:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}
.offcanvas-toggler:hover .line:nth-child(3) {
  -webkit-transform: rotate(-46deg);
  -ms-transform: rotate(-46deg);
  transform: rotate(-46deg);
  bottom: 5px;
}
.offcanvas-toggler .line {
  position: relative;
  display: block;
  width: 20px;
  height: 2px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.offcanvas-toggler .line + .line {
  margin-top: 4px;
}
.offcanvas-modal.modal.fade .modal-dialog {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
.offcanvas-modal.modal.show .modal-dialog {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
.offcanvas-dialog {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  margin: 0;
}
.offcanvas-dialog .modal-content {
  height: 100%;
  border-radius: 0;
  border: 0;
}
.offcanvas-header {
  border: none;
  padding: 40px;
}
.offcanvas-header .btn-close {
  color: #18171a;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 45px;
}
.offcanvas-header .btn-close:hover {
  color: #7166f0;
}
.offcanvas-menu {
  position: relative;
  z-index: 1;
  overflow-y: scroll;
}
.offcanvas-menu::before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background-color: #fff;
}
.offcanvas-menu ul ul {
  display: none;
}

#offcanvas-menu ul {
  transition: initial !important;
}
.offcanvas-menu > ul > li > ul li {
  border-bottom: 0px;
  padding: 0;
}
.offcanvas-menu > ul > li > ul li a {
  padding-left: 15px;
  font-weight: 400;
  font-size: 14px;
  color: #555 !important;
}
.offcanvas-menu > ul > li > ul li a:hover {
  color: #7166ef !important;
}
.offcanvas-menu li.active > ul {
  display: block;
}
.offcanvas-menu .sub-menu {
  padding: 0;
  margin-top: 8px;
}
.offcanvas-menu li {
  margin-bottom: 12px;
  position: relative;
  border-bottom: 1px solid #cccccc9e;
  padding-bottom: 12px;
}
.offcanvas-menu li.active a {
  color: #393e46;
}
.offcanvas-menu li:last-child {
  margin: 0;
  border: none;
  padding: 0;
}
.offcanvas-menu li a {
  font-weight: 500;
  display: block;
  text-transform: capitalize;
  color: #393e46;
  padding: 0px;
  position: relative;
  font-size: 16px;
}
.offcanvas-menu li a:hover {
  color: #7166f0;
}
.offcanvas-menu li a i {
  margin-left: 10px;
}
.offcanvas-menu .sub-menu {
  padding: 0;
}
.offcanvas-menu li.menu-item-has-children a::after {
  position: absolute;
  margin-left: 0 !important;
  font-size: 15px;
  font-family: "Font Awesome 6 Free";
  font-weight: 600;
  content: "\f105";
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  top: 1px;
  right: 10px;
}
.offcanvas-menu li a::after {
  position: absolute;
  right: 0;
  color: #7e8ba0;
}
.offcanvas-menu li.menu-item-has-children .sub-menu li a::after {
  display: none;
}
.offcanvas-menu li.menu-item-has-children.active a::after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.follow-title {
  margin-bottom: 20px;
  font-size: 25px;
}
.offcanvas-modal .modal-content {
  padding: 0px 35px;
}
.offcanvas-modal .offcanvas-form {
  margin: 20px 0px 30px;
}
.modal-backdrop {
  z-index: 10001;
}
.offcanvas-toggler {
  display: none;
}

.offcanvas-toggler .line {
  background: #7166f0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .offcanvas-toggler {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .offcanvas-toggler {
    display: block;
  }
}
@media only screen and (min-width: 1000px) {
  .offcanvas-toggler {
    display: none !important;
  }
}

/* Preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}
.preloader-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.preloader-icon {
  width: 100px;
  height: 100px;
  display: inline-block;
  padding: 0;
}
.preloader-icon span {
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #7166f0;
  -webkit-animation: preloader-fx 1.6s linear infinite;
  animation: preloader-fx 1.6s linear infinite;
}
.preloader-icon span:last-child {
  animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
}
@keyframes preloader-fx {
  0% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}
@-webkit-keyframes preloader-fx {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes rotate2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes moving {
  0% {
    transform: translatey(0px);
  }
  20% {
    transform: translateX(-50px);
  }
  50% {
    transform: translatey(-40px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes tptranslateX2 {
  0% {
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  100% {
    -webkit-transform: translatXY(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }
}
/*======================================
	End Theme Default
========================================*/
